@charset "utf-8";
/*
    CSS DOCUMENT - FOR Curriculum Vitae - João Esteves
*/
body,html{
    height: 100%;
    margin:0;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
/* ------ SIDEBAR NAVIGATION------- */
.navigation_panel{
    width: 16vw;
    height:100%;
    text-decoration: none;
    /*background-color:rgba(0, 0, 0, 0.404);*/
    position:fixed !important;
    z-index: 2;
    overflow: hidden; 
}
#sidebar_black{
    width: 6.35vw;
    height: 100%;
    background-color:rgb(0, 0, 0);
    box-shadow: 2vw;
    position:fixed !important;
    z-index: 2;
}
    /* - NAVIGATION Buttons -  */
.btn{
    width: 6vw; /*PASSAR PARA 6VW E COLOR BLACK*/
    height: 100%;
    z-index: 3;
    position: relative;
    margin-top:0.8vw;
}
.btn_menu:hover{
    background-color: rgba(102, 98, 98, 0.451);
    width: 14vw;
    -webkit-transition: width 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 0.5s;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}

.btn_menu:hover .sidebar_name{
    opacity: 1;
    color: white;
}

.btn_menu{
   
    float: left;
    clear: left; 
}

#name{
    color: white;
    opacity: 1;
    margin-top: -0.4vw;
    margin-bottom: 1.1vw;
    font-size: 1.3vw;
    z-index: 3;
}
.sidebar_name{
    color: transparent;
    float: right;
    position: relative;
    text-align: left;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vw;
    margin-right: 0;
    opacity: 0;
    font-weight: bold;
}
.sidebar_logo{
    width: 4.5vw;
    height: 4.5vw;
    margin-left: 1.1vw;
    margin-top: 0vw;
    margin-bottom: 0.5vw;
    border: none;
}
.sidebar_icon{
    width: 4.5vw;
    height: 4.5vw;
    margin-left: 0.8vw;
    margin-top: 0.5vw;
    clear:left;
    z-index: 3;
    float: left;
    
    position: fixed !important;
}

/*BUTTONS lANGUAGES*/
#lang_pt{
    background-image: url("icons/Portugal.png");
}
#lang_en{
    background-image: url("icons/England.png");
}
.btn_lang{
    width: 2.5vw;
    height: 2vw ;
    background-position: center;
    position: relative;
    float: left;
    clear: left;
    margin-left: 1.5vw;
    padding-left:5px;
    margin-top: 2vw;
    margin-bottom: 0vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif; 
    background-size: cover;
    border: none;
    z-index: 3;
   
}
.btn_lang:hover{
    filter:brightness(200%);
}
/* -- BACKGROUND -- */
    /* - Wrapper - */
.wrapper_right{
    margin-left:22vw;
    margin-right: 4vw;
    margin-top: 0vw;
    height: 100%;
    z-index: 1;
    filter: blur(0px);
}
#about_me{
    background-color: rgba(0, 0, 0, 0.8);
}
#home{
    background-color: rgba(0, 0, 0, 0.8);
}

/* - Back- */

.background{
    background-size: cover;
    width:100%;
    height:100vh;
    position: relative;
    position:scroll;
    z-index:1;
    
}
#background_home{
    background-image: url("img/abstract-art-blur-417458.jpg");
}
#background_about{
    background-image: url("img/blackboard-business-chalkboard-355988.jpg");
}