@charset "utf-8";
/*
    CSS homepage Document - João Esteves
*/
body,html{
    height: 100%;
    margin: 0;
}
a{
    text-decoration: none;
}
.testvar{
    color: white;
}
.testvar:hover{
    letter-spacing: 30px;
}
#home{
    background-image: url("../../img/image5.jpg");
}